.animePage {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 1%;
}

.animeFullInfo {
    display: inline-flex;
    flex-wrap: wrap;
    /*background: linear-gradient(to right, white, black);*/
    background-clip: content-box;
    width: 100%;
    color: #212529;
}

.left-part, .right-part {
    /*background-color: rgba(255, 255, 255, 0.6);*/
    /*margin: 1% 5% 5%;*/
}

.left-part {
    width: 30%;
}

.left-part img {
    width: 70%;
}

.right-part {
    width: 70%;
}

.right-part hr {
    border: 1px solid rgba(0, 0, 0, .1)
}

.titles {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    font-style: italic;
}

.titles h2 {
    margin: 1% 0 0;
}

.titles h3 {
    margin: 0.5%;
    opacity: 0.8;
}

.info {

}

.info-item {
    display: flex;
}

.info-names {
    /*box-sizing: border-box;*/
    width: 40%;
}

.info-descriptions {
    /*box-sizing: border-box;*/
    width: 60%;
}