.animeCompilation {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

.animeCompilationTitle {
    width: 100%;
    margin: 2% 1% 0% 1.7%;
    display: inline-flex;
    justify-content: flex-start;
}

.animeCompilationTitle h3 {
    margin: 0% 0%;
}

.animeView {
    /*margin: 0% 1% 0% 0%;*/
    /*margin: 1%;*/
    /*margin-top: ;*/
    word-wrap: break-word;
    text-align: left;
    width: 18%;
}

.animeView:first-child {
    /*margin-left: 1%;*/
}

.animeView hr {
    border-color: #57545496;
    width: 80%;
}

.animeView img {
    margin-top: 10%;
    width: 100%;
    border-radius: 20px;
}

.animeView img:hover {
    animation: imgAnim 0.05s linear;
    animation-fill-mode: forwards;
}

.animeView h2, .animeView h3, .animeView p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.animeView h2, .animeView h3 {
    display: grid;
    align-content: center;
    text-align: center;
    height: 8%;
    -webkit-line-clamp: 2;
    color: #212529;
    margin: 5% 0%;
}

.animeView h2 {
    /*font-size: 1rem;*/
}

.animeView h3 {

}

.animeView p {
    font-size: 90%;
    text-align: left;
    -webkit-line-clamp: 6;
    margin-bottom: 15%;
}

@keyframes imgAnim {
    from {
        filter: brightness(100%);
        transform: scale(1);
        /*border-radius: 20px;*/
    }
    to {
        filter: brightness(80%);
        transform: scale(1.03);
        /*border-radius: 200px;*/
    }
}

/*@media (max-width: ) {*/

/*}*/