.animeMain {
    background-color: #910f0f;
    max-width: 80%;
    margin: 0% 10% 0% 10%;
    border: 1rem solid #61dafb;
    border-radius: 1rem;
}

.animeContainer {

}

.animeCompilation {
    /*flex-wrap: wrap;*/
}

.animeView {
    display: inline-block;
    padding: 5px;
    word-wrap: break-word;
    text-align: left;
    width: 270px;
}

/*.animeViewText {*/
/*    word-wrap: break-word;*/
/*}*/

.animeView img {
    width: inherit;
    border-radius: 20px;
}

.animeView h2,h3,p {
    /*word-break: break-all;*/
    /*overflow: hidden;*/
    text-overflow: ellipsis;
    color: #CEBCDD;
    font-size: 15px;
}