.search-page {
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
}

.search-left {
    width: 80%;
}

.search-right {
    width: 20%;
}

.search-input {

}

.search-categories {

}

.search-content {
    /*ff5c57*/
}

.drop {
    display: inline-block;
    width: 150px;
    height: 30px;
    position: relative;
    color: #fff;
}

.drop p {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    background: gray;
}

.drop .dropdown_block {
    display: none;
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
}

.drop:hover .dropdown_block
.dropdown_block:hover {
    display: block;
}

.drop ul {
    display: block;
    width: 100%;
    background: gray;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    max-height: 90px;
    overflow: hidden auto;
}

.drop li {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
}
.drop li:hover {
    background: #555;
    cursor: pointer;
}