.search-page {
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-left {
    width: 75%;
    background-color: #fff;
}

.search-top {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1%;
}

.search-top * {
    height: auto;
}

.search-top-sort {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 1%;
}

.search-top-sort-sorting {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2vw;
}

.search-top-sort-grouping {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 0.5vw;
}

.search-top-sort-grouping button {
    border: none;
    opacity: 0.8;
    box-sizing: border-box;
    padding: 2%;
    max-width: 50px;
    max-height: 50px;
}

.search-top-sort-grouping button.active {
    filter: invert(100%);
    background-color: #00a3a8; /* Чтобы был такой цвет: #ff5c57*/
}

.search-top-sort-grouping img {
    width: 100%;
    height: 100%;
}

.search-right {
    width: 20%;
    background-color: #fff;
    padding: 10px;
    height: fit-content;
    position: sticky;
    top: 8%;
}

.search-categories {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.animePreview {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

.animePreview.table {
    width: 25%;
    padding: 16px 15px;
}

.animePreview.twoColumn {
    width: 50%;
}

.animePreview.list {

}

.animePreview-left {

}

.animePreview-left img {
    width: 100%;
}

.animePreview-right {

}
