.tooltip {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip active{
    position: absolute;
    visibility: visible;
    width: fit-content;
    background-color: red;
}

/*.tooltipText::after {*/
/*    display: block;*/
/*    width: fit-content;*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 5px;*/
/*}*/